body {
    background-color: blueviolet;
    text-align: center;
    align-content: center;
    

}



body {
    background-color: oldlace;
    text-align: center;
    align-content: center;
    align-items: center;

}
img {
    width: 200px;
    max-height: fit-content;
}

h1{
    color: black;
    align-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}